hr {
  border: none;
  height: 1px;
  color: #aa4b41;
  background-color: #aa4b41; 
}

.title {
  font-size: 50px;
  color: #335252;
  text-shadow: 2px 2px 2px #2d3033;
  font-family: Arimo;
  font: sans-serif;
}

.body {
  font-size: 32px;
  color: #335252;
  text-shadow: 2px 2px 2px #2d3033;
  font-family: Arimo;
  font: sans-serif;
}

.about {
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
