hr {
  border: none;
  height: 2px;
  color: #aa4b41;
  background-color: #aa4b41;
}

.Portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.header {
  display: flex;
  justify-content: left;
  grid-row: 1;
  grid-column: 1 / -1;
  color: #335252;
  text-shadow: 2px 2px 2px #2d3033;
  text-align: starts;
}

.project {
  grid-column: 1 / -1;
}
