hr {
  border: none;
  height: 2px;
  color: #000b29;
  background-color: #d70026;
}

.Portfolio {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.header {
  display: flex;
  justify-content: left;
  grid-row: 1;
  grid-column: 1 / -1;
  color: #d70026;
  text-shadow: 1px 1px 1px #000b29;
  text-align: starts;
}

.project {
  grid-column: 1 / -1;
}
