.project-title {
  color: #000b29;
  text-shadow: 0.5px 0.5px 0.5px #d70026;
}
.project-details {
  color: #000b29;
  /* text-shadow: 0.1px 0.1px 0.1px #d70026; */
  text-align: left;
}

.media-body {
  margin-left: 3em;
}

.image-link {
  box-shadow: 3px 3px 3px #000b29;
}
